@font-face {
  font-family: 'It aspirer neue' ;
  src: url('../assets/fonts/LTAspirerNeue-Regular.otf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf')
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background:  #0B0B14;
}

body {
  font-family: 'It aspirer neue', sans-serif;
  color: #8197D3;
  background-color: var(--background);
}


.light{
  background-color: #AFACD3;
}

p, button {
  font-family: 'Montserrat';
}

a {
  opacity: 0.6;
}

a:hover {
 opacity: 1;
}

.logoswitch {
  display: flex;
  justify-content: space-between;
}

.logoswitch img {
  margin-top: 1rem ;
  margin-right: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.logo img {
  width: 50px;
  height: 67px;
}

.switch {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.card {
  border-radius: 10px;
  background-color: #11101E;
}

.cardsright{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardsleft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardscenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardtitle {
  padding-top: 5rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem ;
}

.cardcenter {
  padding:1rem;
}

.carddailymode {
 padding: 1rem;
}

.cardtop {
  padding-top: 9rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem ;
}

.carddown {
  padding: 1rem;
 }

.cardgroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cardgametitle {
  padding: 1rem;
}

.cardgamemain {
  align-items: center;
}

.cardgameright {
  padding-top: 10rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem ;
}

.cardgameleft {
  margin-top: 10rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 1rem ;
}

.cardsgamecenter{
  flex-direction: column;
  justify-content: center;
}
.cardsgamegroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 1rem;
  
}

.info img{
  width: 32.62px;
  height: 32px;
  margin: 1rem;
}

.cardinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.cardinfo h1, p {
  color: #B7CCEA;
}

.cardinfo h1{
  font-family: 'Montserrat';
  text-align: center;
  width: 225px;
  font-weight: 700;
  font-size: 18px;
  margin: 1rem;
}

.cardinfo p {
  text-align: center;
  margin: 1rem ;
  font-size: 18px;
  width: 270px;
}

@media(max-width: 1200px) {
  .cardgametitle {
    padding: 1rem;
  }

  .cardgametitle img {
    width:95%
  }
  
  .cardgamemain {
    padding: 1rem;
  }

  .cardgamemain img {
    width: 95%;
  }

  
  .cardgameright {
    padding-top: 8rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem ;
  }

  .cardgameright img {
    width: 95%;
  }
  
  .cardgameleft {
    padding-top: 8rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem ;
  }
  
  .cardgameleft img {
    width: 95%;
  }
  
  .cardsgamecenter{
    flex-direction: column;
    justify-content: center;
  }
  .cardsgamegroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
}

@media (max-width: 576px) {

  .card {
    display: flex;
    border-radius: 10px;
  }
  
  .cardsright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cardsleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cardscenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cardtitle {
    padding-top: 5rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem ;
  }
  
  .cardcenter {
    padding:1rem;
  }
  
  .carddailymode {
    padding: 1rem;
  }
  
  .cardtop {
    padding-top: 9rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem ;
  }
  
  .carddown {
    padding: 1rem;
   }
  
  .cardgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}